* {
	box-sizing: border-box;
}
body{
	background-color: 		#DDA0DD;
	font-size: 18px;
}
.reseauxSociaux, i{
	margin-left: 1em;
}
.nom{
	margin-left:6em;
}
.centreInteret, a{
color: black;
}
.competenceLangue, i{
	display: inline-block;
}
.passionEntrepreneuriat,ul{
	text-decoration: none;
}

